*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --color-primario:#f96230;
    --color-secundario:#30c7f9;
    --font-primario: "Satisfy", cursive;
    --font-secundario: "Kalam", cursive;

}
body{
    font-family: var(--font-primario);
    width: 100%;
}

header{
    background:linear-gradient(to right, rgb(255, 132, 0), var(--color-primario),red,black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-primario);
    border-bottom: 3px solid black;
    width: 100%;
    
}

header div{
    width: 80px;
    padding: 10px;
    
}

header div img{
    width: 100%;
}

header nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 35px;

}

header nav ul li a:hover{
    color: black;
    
}

section{
    padding: 30px;
    min-height: 90vh;
    
   
}

#banner{
   display: flex;
   justify-content: space-between; 
   background-image: url(/assets/fondo_trans.png);
   background-size:cover;
   background-repeat: no-repeat;

}

#banner .cont-fondo{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner h1{
    font-family: var(--font-primario);
    font-size: 70px;
    text-align: center;
    margin: 30px 0 ;
    
}

#banner p{
    font-family:var(--font-secundario);
    font-size: 30px;
    margin: 0 35px;
    font-weight: bold;    
}

#banner .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner .img img{
    width: 80%;
    height: 80%;
    border-radius: 28px;

}

#categoria, #product, #contact{
    text-align: center;
}

#categoria .container-grid-categoria,
#product .container-grid-product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 20px;
    
}

#categoria .cont-category{
    
    padding: 20px;
    border-radius: 25px;
    border: 1px solid var(--color-primario);
    box-shadow: 6px 11px 39px -9px var(--color-primario);
    transition: 0.3s trasform;
    
}

#categoria .cont-category:hover{
    transform: scale(1.03);
    border: 1px solid var(--color-secundario);
    box-shadow: 6px 11px 39px -9px var(--color-secundario);
}

#categoria .cont-category h2{
    font-size: 35px;
    margin-bottom: 10PX;
}

#categoria .cont-category img{
    width: 100%;
    height: 300px;
    border-radius: 25px;
}

#product h2,#contact h2{
    font-size: 50px;
}

#product .container-product{
    border: 1px solid var(--color-primario);
    height: 500px;
    border-radius: 30px;
   
    
}

#product .container-product .img{
    height: 70%;
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    
}

#product .img img{
    height: 100%;
    width: 100%;
}

#product h3, p{
    font-size: 25px;
}

#product button, #contact button{
    padding: 2px 10px ;
    width: 200px;
    margin: auto;
    font-family: var(--font-secundario);
    font-size: 25px;
    text-align:center;
    border-radius: 25px;
    background-color: var(--color-secundario);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s transform;
}

#contact {
    position: relative;
    overflow: hidden;
}


#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 15px;
    margin: auto;
    font-family: var(--font-secundario);
    
}

#contact label, #contact input, #contact textarea{
    width: 100%;
    margin: 10px 0 ;
    border: none;
    outline: none;
      
}


#contact input, #contact textarea{
    padding: 20px 5px;
    border: 1px solid var(--color-primario);
    font-size: 25px;
    font-family: var(--font-secundario);
    
}

#contact button:hover{
    background-color:var(--color-primario);
    transform: scale(1.03);
}


 .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primario);
    z-index: -1;
    transform: skewX(80deg);
    transform-origin: bottom left;
  }


  footer{
    background-color: #f96230
  }

  .container{
    width: 30%;
    padding: 30px;

  }

  .container p{
    font-size: 40px;
    
  }
  
  .correo, .celular {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
   font-size: 30px;

  }

  .correo .correo-ic,
  .celular .celular-ic{
    display: flex;
    justify-content: center;
    align-items: center;
    ;

  }

  .correo a,
  .celular a{
    font-family: var(--font-secundario);
    color: white;
    padding-left: 15px;
    text-decoration: none;
    transition: 0.3s transform;
  }

  .correo a:hover{
    color: black;
    transform: scale(1.03);
  }

  .celular a:hover{
    color: black;
    transform: scale(1.03);
  }

  .btn-whatsap{
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: rgb(51, 207, 106);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 6px 11px 39px -9px black;
    transition: 0.2s transform;
  }

  .btn-whatsap i{
    font-size: 70px;
    color: white;
  }

  .btn-whatsap:hover{
    transform: scale(1.08);
  }

  @media (max-width:480px) {
   
    #contact form{
        width: 80%;
    }

    #contact input, #contact textarea{
        padding: 0 5px;
        font-size: 15px;
    }

    #contact label, #contact input, #contact textarea{
        margin: 2px 0 ;
    }
    #banner{
        display: flex;
        flex-wrap: wrap;       
    }

    #banner h1{
        font-size: 50px;
    }

    #banner p{
        font-size: 15px;
        }

    #banner .cont-fondo{
        width: 100%;
    }

    #banner .img{
        align-items: center;
    }

    header nav ul li a{
        font-size: 25px;
    }

    header nav ul{
        gap: 10px;
    }

    .correo, .celular {

        font-size: 15px;
    }



    #categoria .container-grid-categoria,
    #product .container-grid-product{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    }

    #product .container-product{
        width: 380px;
    }
  }



  



 


